
<% if (products.length) { %>

  <h3 class="text-center my-3 border border-primary">Welcome to the favulous WunderKammer!!!!</h3>
  
  <div class="row card-group">
      <% products.forEach(product => { %>
          <div class=" col-md-4 col-sm-6 portfolio-item">
              <div class="card" style="padding: 2em">
                <img class="card-img-top mh-75" src="<%= product.image %>" alt="product <%= product.name %> image" style="object-fit: scale-down; height: 150px">
                <div class="card-body mh-25">
                  <h4 class="card-title text-truncate">
                    <a href="#"><%= product.name %></a>
                  </h4>
                  <p class="card-text text-truncate"><%= product.description %></p>
                  <button type="button" class="btn btn-link">Link</button>
                  <a class="btn redondo orange" href="#" role="button"><i class="material-icons right">add</i></a>
                  <a class="btn redondo red btn-like" href="#" role="button"><i class="material-icons right">favorite</i></a>
                  
                  
                  
                </div>
              </div>
          </div>
      <% }); %>
  </div>
  
  <% } else { %>
  <h3 class="">Atención, no existe mingún producto creado o no se ha podido acceder a la base de datos!!!!</h3>
  <% } %>
  