
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>WunderKammer</title>

        <!-- CSS Bootstrap - info y tutos en: https://getbootstrap.com/ -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Icons form FontAwesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        <!-- CSS customization  -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> 

              <!-- Compiled and minified Bootstrap JavaScript -->
              <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    
    <body>

<!-- Este es el header con el Nav que va a ser común para todas las vistas -->   
  
      <header>
          <nav class="navbar navbar-expand-lg navbar-light WK-background-color1">
              <div class="container">
              <a class="navbar-brand" href="/"><img src="/images/w.png" height="50" alt="Wonder Logo"> WunderKammer </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <% if (session && session.isAdmin) { %>
                      <li><a class="nav-link" href="/products/edit">Edit Products</a>
                       <% } %>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="/products/index">Products</a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Categories</a>
                  </li>
                  <% if (!session.email) { %>
                      <li class="nav-item">
                          <a href="/login" class="btn btn-warning" role="button" aria-pressed="true">Login <i class="fas fa-sign-in-alt"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/signup">Signup</a>
                      </li>
                  <% } else { %>
                      <span>Hola <%= session.name %>  </span>
                      <li class="nav-item">
                          <a href="/profile">Settings</a>
                      </li>
                      <li class="nav-item">
                          <a href="/logout">logout <i class="fas fa-sign-out-alt"></i></a>
                      </li>
                  <% } %>
                  </ul>
              </div>
              </div>
          </nav>
      </header>


      <!-- Aquí va la parte variable que envía cada vista -->
      <%- body %>


      <!-- Este es el footer que va a ser común para todas las vistas -->

      <footer class="container-fluid WK-background-color2 py-5">

          <!--Footer Links-->
          <div class="container">

              <div class="row">
                  <!--First column-->
                  <div class="col-md-6">
                      <h3 class="title">WunderKammer</h3>
                      <p>Bizarre products curated from <i class="fab fa-amazon"></i> just for you!</p>

                      <a href="/">
                      <img src="/images/unicornProud.svg" height="120" class="d-inline-block align-top" alt="Wonder Unicorn">
                      </a>

                      <p>© 2018 Wunder Incorporated,  All rights reserved</p>
                  </div>
                  <!--/.First column-->

                  <!--Second column-->
                  <div class="col-md-3">
                      <h5 class="title"><i class="fas fa-star"></i> Categories</h5>
                      <nav class="nav flex-column">
                          <a class="nav-link" href="#"><i class="fas fa-gem"></i> Toys</a>
                          <a class="nav-link" href="#"><i class="fas fa-gift"></i> Wear</a>
                          <a class="nav-link" href="#"><i class="fab fa-sticker-mule"></i> Unicorn Stuff</a>
                          <a class="nav-link" href="#"><i class="fab fa-fort-awesome"></i> Decoration</a>
                      </nav>
                  </div>
                  <!--/.Second column-->

                  <!--Third column-->
                  <div class="col-md-3">
                      <h5 class="title">Legal Stuff</h5>
                      <nav class="nav flex-column">
                          <a class="nav-link" href="#">Terms & Condition</a>
                          <a class="nav-link" href="#">Unicorn Policy</a>
                          <a class="nav-link" href="#">About Us</a>
                          <a class="nav-link" href="#">Contact</a>
                      </nav>
                  </div>
                  <!--/.Third column-->
              </div>



              <div class="row">
                      <div class="col-md-9">
                          <span>Follow Us:</span>      
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-google-plus-g"></i></a>
                          <a href="#"><i class="fab fa-linkedin-in"></i></a>
                          <a href="#"><i class="fab fa-youtube"></i></a>
                      </div>
                      <div class="col-md-3">
                          © 2018 Copyright: <a href="/"> WunderKammer.biz</a>
                      </div>
              </div>

              <div class="">
                      <p>Made with tons of love and with </p>
                      <p><i class="fab fa-node fa-3x"></i></p>
                      <p>Checkout our code at <a href="#"><i class="fab fa-github fa-2x"></i></a></p> 
              </div>
          </div>
          <!--/.Footer Links-->

      </footer>

      <!-- Parallax effect JavaScript -->
      <script src="/javascript/parallax.min.js"></script>

      <!-- Custom JavaScript -->
      <script>
      var isUserAuthenticated = <%= (session.name) ?  true : false %>;
      $('.btn-like').click(function() {
          if (!isUserAuthenticated) {
              window.location.href = '/login?showFavMessage=true';
          }
      });
      </script>

  </body>

