body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}


.parallax-window {
  min-height: 400px;
  background: transparent;
}

.background-rosita {
  background-color: rgb(252, 238, 250);
  }


.color1 {

background-color: #E0A800;
}

.color2 {
background-color: #df82da;
}

.color3 {
background-color: #F2F2F2;

}


.redondo {
height: 50px;
width: 50px;
border-radius: 50%;
}
