Aquí hay que pintar todos los datos del usuario,
foto, descripcion, nombre.

<p><%= user.name %></p>
<p><%= user.email %></p>
<img src="<%= user.image %>" alt="">

<a href="./<%= user._id %>/edit">Edit Profile</a>
